/* Ionic Variables and Theming. For more info, please see:*/

@font-face {   
  font-family: 'Advent Pro';
  src: url('../fonts/AdventPro/AdventPro-Medium.ttf');
}

:root {
  --ion-color-soft-blue: #E0F7FA;
  --ion-color-soft-blue-rgb: 224,247,250;
  --ion-color-soft-blue-contrast: #000000;
  --ion-color-soft-blue-contrast-rgb: 0,0,0;
  --ion-color-soft-blue-shade: #c5d9dc;
  --ion-color-soft-blue-tint: #e3f8fb;

  --ion-page-background-color: #f8f8f8;
}

.ion-color-soft-blue {
  --ion-color-base: var(--ion-color-soft-blue);
  --ion-color-base-rgb: var(--ion-color-soft-blue-rgb);
  --ion-color-contrast: var(--ion-color-soft-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-soft-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-soft-blue-shade);
  --ion-color-tint: var(--ion-color-soft-blue-tint);
}

:root {
  --ion-color-tag-grey: #d2d2d2;
  --ion-color-tag-grey-rgb: 210,210,210;
  --ion-color-tag-grey-contrast: #000000;
  --ion-color-tag-grey-contrast-rgb: 0,0,0;
  --ion-color-tag-grey-shade: #b9b9b9;
  --ion-color-tag-grey-tint: #d7d7d7;
}

.ion-color-tag-grey {
  --ion-color-base: var(--ion-color-tag-grey);
  --ion-color-base-rgb: var(--ion-color-tag-grey-rgb);
  --ion-color-contrast: var(--ion-color-tag-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tag-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-tag-grey-shade);
  --ion-color-tint: var(--ion-color-tag-grey-tint);
}

* {
  font-family: 'Advent Pro' !important;
  background-color:#ffffff;
}

.footer_button {
  background-color: #F8F8F8  !important;
}

.ion-content { 
  font-family: 'Advent Pro';
  font-size: '1.1em';
}

.text-on-bottom > .button-inner {
  flex-direction: column;
}

.fullheight {
  height: 100%;
}

.xc {
  /*display: flex;*/
  align-items: center;
  --border-color: white;
  /*justify-content: center;*/
}

.vcs {
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
}

.hcs {
  /*display: flex;*/
  flex-direction: row;
  align-items: center;
}

.ion-slides {
  height: 100%;
}

.hob-footer {
  background-color: #F8F8F8  !important;
}

.hob-header {
  background-color: #FFFCFC !important;
}

.card-content-md{
  height: 86vh;
  text-align: left;
  font-size: 18px;
}

.border-none {
  border: none;
}

.inner-item {
  width: 80%;
}

.button-inner {
  width: 80%;
}

.swiper-slide img {
  width: 100%;
  max-width: 100%;
  max-height: none;
  /*height: auto;*/
}

.ion-card-header + .card-content-md {
  padding-top: 0;
  text-align: left;
  margin-right: 17px;
}

.hob_head_back {
  width: 2.5%;
  margin: 2%;
  background-color: #FFFFFF;
}

.hob_slide_textarea {
  height: 100%;
}

.textarea-wrapper, .sc-ion-textarea-md{
  height: 100%;
  color: #000000;
}

.native-textarea[disabled].sc-ion-textarea-md {
  opacity: 0.9;
}

.hob_card {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.hob_home_button {
  width: 100%;
}

.hob_menu_button {
  margin: 14%
}